@font-face {
  font-family: 'Adobe Clean';
  font-style: light;
  font-weight: 300;
  src: local('Adobe Clean Light'), url('/fonts/AdobeClean-Light.ttf');
}

@font-face {
  font-family: 'Adobe Clean';
  font-style: regular;
  font-weight: 450;
  src: local('Adobe Clean Regular'), url('/fonts/AdobeClean-Regular.ttf');
}