@font-face {
  font-family: 'AdobeCleanHanSC';
  font-style: light;
  font-weight: 300;
  src: local('AdobeCleanHanSC Light'), url('/fonts/AdobeCleanHanSC-Light.otf');
}

@font-face {
  font-family: 'AdobeCleanHanSC';
  font-style: regular;
  font-weight: 450;
  src: local('AdobeCleanHanSC Regular'), url('/fonts/AdobeCleanHanSC-Regular.otf');
}